<dx-box direction="row" width="100%">
  <dxi-item class="rect demo-dark" [ratio]="1">
    <h2>Query:</h2>

    <dx-form [formData]="body" [colCount]="2">
      <dxi-item itemType="group">
        <dxi-item itemType="group" caption="Server data">
          <dxi-item dataField="db"></dxi-item>
          <dxi-item dataField="server"></dxi-item>
          <dxi-item
            itemType="button"
            horizontalAlignment="left"
            cssClass="run-query"
            [buttonOptions]="runQueryButtonOptions"
          >
          </dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item itemType="group" caption="Queries">
          <dxi-item
            itemType="group"
            name="queries"
            *ngFor="let q of body.queries; let i = index"
          >
            <dxi-item
              [dataField]="'queries[' + i + '].query'"              
            >
              <dxo-label [text]="'Query ' + (i + 1)"> </dxo-label>
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dxi-item>
    </dx-form>
    <!-- <div id="form-container">
      <dx-form id="form" [colCount]="2" [formData]="employee">
        <dxi-item itemType="group">
          <dxi-item itemType="group" caption="Personal Data">
            <dxi-item dataField="FirstName"></dxi-item>
            <dxi-item dataField="LastName"></dxi-item>
            <dxi-item
              editorType="dxCheckBox"
              [editorOptions]="checkBoxOptions"
            ></dxi-item>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item
              itemType="group"
              caption="Home Address"
              name="HomeAddress"
              [visible]="isHomeAddressVisible"
            >
              <dxi-item dataField="Address"></dxi-item>
              <dxi-item dataField="City"></dxi-item>
            </dxi-item>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" caption="Phones" name="phones-container">
          <dxi-item
            itemType="group"
            name="phones"
            *ngFor="let phone of phoneOptions; let i = index"
          >
            <dxi-item
              [dataField]="'Phones[' + i + ']'"
              [editorOptions]="phoneOptions[i]"
            >
              <dxo-label [text]="'Phone ' + (i + 1)"> </dxo-label>
            </dxi-item>
          </dxi-item>
          <dxi-item
            itemType="button"
            horizontalAlignment="left"
            cssClass="add-phone-button"
            [buttonOptions]="addPhoneButtonOptions"
          >
          </dxi-item>
        </dxi-item>
      </dx-form>
    </div> -->
  </dxi-item>
  <dxi-item class="rect demo-light" [ratio]="1">
    <h2>Result:</h2>
    <dx-text-area [height]="620" [value]="result" [readOnly]="true">
    </dx-text-area>
  </dxi-item>
</dx-box>
